@import "tailwindcss";

@font-face {
  font-family: 'Manrope';
  src: url("./assets/fonts/Archivo-VariableFont.ttf");
}

.main-font {
  font-family: "Manrope";
}

@font-face {
  font-family: 'Inter';
  src: url("./assets/fonts/Lexend-VariableFont_wght.ttf");
}

.font-inter {
  font-family: "Inter";
}

@theme {

  --text-xs: clamp(0.75rem, 0.7rem + 0.2vw, 0.875rem);
  --text-sm: clamp(0.875rem, 0.8rem + 0.3vw, 1rem);
  --text-base: clamp(1rem, 0.95rem + 0.5vw, 1.125rem);
  --text-lg: clamp(1.125rem, 1.05rem + 0.7vw, 1.25rem);
  --text-xl: clamp(1.25rem, 1.1rem + 1.0vw, 1.65rem);
  --text-2xl: clamp(1.5rem, 1.3rem + 2vw, 2.5rem);
  --text-3xl: clamp(1.875rem, 1.5rem + 3vw, 4rem);
  --text-base--line-height: 1.5;
  --text-2xl--line-height: 1.2;
}